/* possible colour scheme  */
:root {
  --space-cadet: #2d3047ff;
  --misty-rose: #f1dedeff;
  --puce: #d496a7ff;
  --pale-azure: #6cd4ffff;
  --coral-pink: #fe938cff;
}

.jumbotron {
  background-image: url("./assets/yoga2.jpeg");
  background-size: cover;
  height: 96vb;
}
