/* possible colour scheme  */
:root {
  --space-cadet: #2d3047ff;
  --misty-rose: #f1dedeff;
  --puce: #d496a7ff;
  --pale-azure: #6cd4ffff;
  --coral-pink: #fe938cff;
}

.jumbotron {
  background-image: url("./assets/yoga2.jpeg");
  background-size: cover;
  height: 94.7vh;
}

.headlinebox {
  background-color: whitesmoke;
}

.boxcontainer {
  height: 90vh;
  width: 90%;
}
