body {
  font-family: "Roboto", sans-serif;
}


/* MEAL */
.meal-page {
  background-color: #f5f5f5;
}
#meal-title {
  font-size: 1.5em;
 display: flex;
  justify-content: center;
  margin: 10px 0;
  padding-bottom: 1%;
}

.forms {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #865454;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

 .images {
  margin: 2%;
 }

 .images h3, .images h4 {
  margin: 0;
  padding: 5%;
  font-size: 1.5em;
  color: #865454;
 }

 .nutr {
  margin-left: 2%;
  padding: 5%;
  padding-bottom: 15%;
 }

 .nutr p {
  margin: 0;
  padding: 5%;
  font-size: 1.5em;
  color: #865454;
 }